/*********************************************************************************************/ 
/******** Commando Font from fontsquirrel ( www.fontsquirrel.com/fonts/Commando )	**********/
/*********************************************************************************************/

/******************************************************************/
/****************			MACHINE			***********************/
/******************************************************************/
html, body, #global_wrapper{ height: 100%; margin: 0; width: 100%; padding : 0; overflow : hidden; }
body.machine, #game_background { background: url('../images/background.png'); }
body.machine.red, #game_background.red{ background: url('../images/background-red.png'); }
body.machine.green, #game_background.green { background: url('../images/background-green.png'); }
body.machine.blue, #game_background.blue { background: url('../images/background-blue.png'); }
body.machine.yellow, #game_background.yellow { background: url('../images/background-yellow.png'); }

#game_background{ position : absolute; width : 100%; height : 100%; top:0; left:0; }
#global_wrapper{ position : relative; }

h1 { margin : 19px auto; text-align: center; font: 70px 'CommandoCommando', Arial, sans-serif;letter-spacing: 0; color: white; text-shadow: 10px 10px #000000; }

#game_wrapper { background:#000000; 	width:85%; height: 70%; margin: 15px auto 0; position:relative; overflow : hidden }

#toolbar{ position : absolute; top: 0px; right : 0px; margin : 0; padding : 5px; background-color:rgba(0,0,0,0.5); visibility : hidden;}
	#toolbar li { float : left; margin:0 4px; }
	#toolbar a { display : block; text-indent : -1000px; overflow : hidden; }
	.btnSound { width : 18px; height : 14px; background: url('../images/btnSound.png') no-repeat center center; }
	.btnTransparency{ width : 17px; height : 17px; background: url('../images/btnTransparency.png') no-repeat center center; }
	.btnResetView{ width : 14px; height : 16px; background: url('../images/btnResetView.png') no-repeat center center; }
	.btnStats{ width : 20px; height : 18px; background: url('../images/btnStats.png') no-repeat center center; }

#camera_controls_info { position : absolute; padding : 2px 15px; bottom : 0px; right : 0px; background-color:rgba(0,0,0,0.5); font: 11px Courier, Arial, Helvetica, sans-serif; color: #DDDDDD; text-shadow: 1px 1px #111111; margin : 0; visibility : hidden; }
	
#playersSidebar { position : absolute; top : 20%; left : 0px; list-style : none; margin : 0; padding : 0; z-index : 200; }
	#playersSidebar li { position : relative; display:block; margin-bottom: 20px; padding: 20px 45px 20px 10px; width: 165px; font: 0px/32px 'CommandoCommando', Arial, sans-serif;letter-spacing: 0; color: white;   background: url('../images/mobile-icon.png') 165px center no-repeat; margin-left : -200px; }
	#playersSidebar li.active{  margin-left : 0; } 
	#playersSidebar li.red{ background-color:#a91515; }
	#playersSidebar li.green{ background-color:#3ba915; }
	#playersSidebar li.blue{ background-color:#1561a9; }
	#playersSidebar li.yellow{ background-color:#e7ac04; }
	#playersSidebar .tick{ visibility : hidden; background: url('../images/tick.png') center center no-repeat; position: absolute;bottom: 5px; right: -6px; width: 24px; height: 22px;	}

#footer { position : fixed; bottom: 0; left : 0; padding:0; margin : 0; width : 100%; z-index : 300;}
	#footer p.credits{ display:block; background: black; color: white; font: 20px 'CommandoCommando', Arial, sans-serif;letter-spacing: 0; padding : 10px 5px; text-align:center; margin : 0; text-decoration : none;}
/*	#footer p:hover {background: white; color: black;} */ 
	#footer p.creditsInfo { background: black; color: #999999; font: 11px Courier, Arial, sans-serif;letter-spacing: 0; padding : 10px; text-align:justify; margin : 0; text-decoration : none;}
	
	#footer a{ color:#AAAAAA; }
	#footer a:hover{ color:#BBBBBB; }
	#footer a.me { color:#e7ac04; }
	#footer a.me:hover { color:#e3db04; }

.popup { margin : 0px; padding : 0px 20px 30px; color:white; font: 20px/25px 'CommandoCommando', Arial, sans-serif;letter-spacing: 0; position : absolute; top: 25%; left : 25%; z-index : 110; background: #a91515 url('../images/bgPixelLine.png') bottom left repeat-x; width:50%; }	
	.popup p{}
	.popup h3, .popup a.url{ color:#e7ac04; text-shadow: 3px 3px #000000;}
	.popup a.url:hover{ color:#e3db04;}
	.popup  a.btnPlay { display : none; padding: 20px; text-align:center; font-size : 50px; background:#3ba915; width: 180px; margin : 10px auto; cursor:pointer; visibility : hidden }
	.popup  a.btnPlay:hover { color:#3ba915; background : #FFFFFF; }
	
#initial_screen {}
#stats_screen{ visibility : hidden; }
	#stats_screen  a.btnPlay { width : 250px; }
	
#info_screen{ top : inherit; bottom : 25%; padding : 0px 20px; visibility:hidden; }
	#info_screen.red{ background:#a91515; }
	#info_screen.green{ background:#3ba915; }
	#info_screen.blue{ background:#1561a9; }
	#info_screen.yellow{ background:#e7ac04; }

.startFun { display : none; visibility : hidden; }
	
/******************************************************************/
/****************			PLAYER			***********************/
/******************************************************************/

body.player.red{ background:#a91515; }
body.player.green{ background:#3ba915; }
body.player.blue{ background:#1561a9; }
body.player.yellow{ background:#e7ac04; }

#player_wrapper {	position:relative; text-align: center;} 
	#player_wrapper h1 { font: 60px/45px 'CommandoCommando', Arial, sans-serif;letter-spacing: 0; color: black; text-shadow:	2px 2px 0 #fff; }

#playerButtons { position: relative;	margin	: 20px auto; width : 225px; visibility : hidden }
	#playerButtons a { background : #000000; box-shadow: 3px 3px 0px #FFFFFF; display: block; position : absolute; text-indent:-10000px; overflow:hidden; }
	#playerButtons a:active { background : #000000; box-shadow: 1px 1px 0px #FFFFFF; margin : 2px; }
	
.btnArrow { height	: 50px; width : 50px; }
	#btnUp { top : 0px; left : 90px; /*background : url('../images/upArrow.png') no-repeat center center;*/ }
	#btnUp .arrow { width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 20px solid #1561a9; position: absolute; bottom: 4px; right: 4px;}
	#btnLeft { top : 90px; left : 0px; /*background : url('../images/leftArrow.png') no-repeat center center;*/  }
	#btnLeft .arrow { width: 0; height: 0; border-bottom: 20px solid transparent; border-top: 20px solid transparent; border-right: 20px solid #3ba915; position: absolute; top: 4px; right: 4px;}
	#btnDown { top : 170px; left : 90px; /*background : url('../images/downArrow.png') no-repeat center center;*/  }
	#btnDown .arrow { width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 20px solid #e7ac04; position: absolute; top: 4px; right: 4px;}
	#btnRight { top : 90px; left : 170px; /*background : url('../images/rightArrow.png') no-repeat center center;*/  }
	#btnRight .arrow { width: 0; height: 0; border-bottom: 20px solid transparent; border-top: 20px solid transparent; border-left: 20px solid #a91515; position: absolute; top: 4px; left: 4px;}

#playerButtons a.btnCenter { font: 30px/80px 'CommandoCommando', Arial, sans-serif;letter-spacing: 0; color: white; text-shadow:	2px 2px 0 #000;  height : 75px; width	: 75px; top : 75px; left : 75px; text-indent:0px; }

/******************************************************************/
/****************			GLOBAL			***********************/
/******************************************************************/

.box-shadowed {box-shadow: 7px 7px 0px #000000; }
.align-center {text-align:center;}