<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<script type="text/javascript" src='/_ah/channel/jsapi'></script>
		<script type="text/javascript" src='/js/connections.js'></script>
		<script type="text/javascript" src='/js/libs/greensock/TweenMax.min.js'></script>
	</head>
    <body>
  
	{% if user1 %}
		<h1>Player</h1>
	{% else %}
		<h1>Machine</h1>
	{% endif %}
  
      {% if token %}
        <p>{{ token }}</p> 
      {% else %}
        <p>NO token!!</p> 
      {% endif %}
	  
	  <p>Gamekey:{{ game_key }}</p>
	  <p>Machine:{{ machine }}, User1 : {{ user1 }}, User2 : {{ user2 }}, User3 : {{ user3 }}, User4 : {{ user4 }}</p>
	 
	{% if user1 %}
    <form id="formulario">
		<div><label for="selectRow">Select Row</label><input name="selectRow" type="text"></input></div>
		<div><label for="selectCol">Select Col</label><input name="selectCol" type="text"></input></div>
		<div><label for="moveX">X</label><input name="moveX" type="text"></input></div>
		<div><label for="moveY">Y</label><input name="moveY" type="text"></input></div>
		<div><label for="moveZ">Z</label><input name="moveZ" type="text"></input></div>
		<div><input type="submit" value="Send"></div>
    </form>
	{% endif %}
	
	<p id="tracer"></p>
	
	<script type="text/javascript">
	var state = {
        game_key: '{{ game_key }}',
        me: '{{ me }}'
    };
	
	TweenMax.delayedCall( .1, initialize, [ '{{ token }}', '{{ initial_message }}' ] );
	</script>
  </body>
</html>
{% endautoescape %}